<div class="comment">
  <p class="comment_author"><%= author(comment) %></p>
  <small class="comment_created_at"><%= posted_at(comment) %></small>

  <div class="comment_body">
    <%= sanitize(comment.body) %>
  </div>
</div>
