<%= error_messages_for :comment %>
<% form_for(:comment,:url => post_comments_path(@post), :html => {:id => "post_new_comment"}) do |f| %>
  <%= render :partial => 'comments/comment_form', :locals => {:f => f} %>
  <input type="button" id="preview_button" value="Preview Comment" />

  <div id="preview" style="display:none;">
    <div id="comment_preview" class="comment">
      <p id="comment_preview_author" class="comment_author">&nbsp;</p>

      <div id="comment_preview_body" class="comment_body">&nbsp;</div>
    </div>
    <%= f.submit "Post Comment" %>
  </div>
<% end %>
<%= javascript_include_tag 'prototype','textile','application', :cache => 'scripts' %>
