<ul>
  <li>
  <label class="desc">Title</label>
  <div><%= f.text_field :title %></div>
  </li>
  <li>
  <label class="desc">Attachment <small>(optional)</small></label>
  <div><%= f.text_field :attachment %></div>
  </li>
  <li>
  <label class="desc">Body</label>
  <div><%= f.text_area :body %></div>
  </li>
</ul>
