%p My name is Ralph Churchill. I develop software in Tulsa, OK. I used to work for a huge software company, but now I work for a small company called docvia.com. I spend most of my time using Ruby on Rails.

%p I built this blog from scratch.
