<% title('edit page') %>
<h1>Editing page</h1>

<%= error_messages_for :page %>

<% form_for(:page,@page,:url => page_path(@page.permalink),:html => {:method => :put}) do |f| %>
  <%= render :partial => 'page_form',:object => @page,:locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
