<div class="project" id="rbot">
  <h2 class="project_name">Rbot Plugins</h2>
  <p><small class="project_updated_at">Updated: 2006 November</small>
  <small class="project_version">Version: N/A</small></p>
  <div class="project_description">
    <a href="linuxbrit.co.uk/rbot/">rbot</a> is an Ruby IRC bot. I have developed numerous plugins, most of which are now included in the distribution. They are also available here.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/dictionary.rb">dictionary.rb</a> &#8211; Word definitions via Yahoo! Web Services.</li>
      <li><a href="/downloads/forecast.rb">forecast.rb</a> &#8211; Forecasts via NOAA Web Service.</li>
      <li><a href="/downloads/mweather.rb">mweather.rb</a> &#8211; Current Conditions via NOAA Web Service.</li>
      <li><a href="/downloads/realm.rb">realm.rb</a> &#8211; World of Warcraft Realm Status</li>
    </ul>
  </div>
</div>

<div class="project" id="cocoa-textile">
  <h2 class="project_name">Cocoa Textile</h2>
  <p><small class="project_updated_at">Updated: 2005 January 23 </small>
  <small class="project_version">Version: 0.5</small></p>
  <div class="project_description">
CocoaTextile is a Textile Editor for Mac OS X. Using CocoaTextile, <a href="http://textism.com/tools/textile/">Textile</a> <strong>and</strong> <a href="http://daringfireball.net/projects/markdown/">Markdown </a>can be used to convert plain text to XHTML. Includes all the standard Mac text editing capabilites (e.g. spell-checking, multi-level undo, etc.) and an HTML preview and source view.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/CocoaTextile-0.02.dmg">CocoaTextile-0.2.dmg</a></li>
    </ul>
  </div>
</div>

<div class="project" id="nextimage">
  <h2 class="project_name">Firefox Extension: Next Image</h2>
  <p><small class="project_updated_at">Updated: 2006 November 01</small>
  <small class="project_version">Version: 0.7</small></p>
  <div class="project_description">
A handy little extension for automatically incrementing (numerical) image URLs, allowing you to make your own &#8220;ad hoc&#8221; image gallery.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/nextimage.xpi">nextimage.xpi</a></li>
    </ul>
  </div>
</div>

<div class="project" id="thiswindow">
  <h2 class="project_name">Firefox Extension: This Window</h2>
  <p><small class="project_updated_at">Updated: 2006 November 01</small>
  <small class="project_version">Version: 0.5</small></p>
  <div class="project_description">
A pretty trivial extension that adds the ability to force a window to open in the current window. This is helpful if you don&#8217;t want to open another browser window.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/thiswindow.xpi">thiswindow.xpi</a></li>
    </ul>
  </div>
</div>

<div class="project" id="growl">
  <h2 class="project_name">Firefox Extension: Growl Notifications</h2>
  <p><small class="project_updated_at">Updated: 2007 April 29</small>
  <small class="project_version">Version: 0.6</small></p>
  <div class="project_description">
Enables download complete notifications through <a href="http://www.growl.info">Growl</a>.<br />
<strong>Requires</strong> Firefox 1.5 or greater. Compatible with Firefox 2.0.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/growl.xpi">growl.xpi</a></li>
      <li><a href="https://addons.mozilla.org/firefox/4077/">growl.xpi</a> &#8211; Download from Official Mozilla Addon site</li>
    </ul>
  </div>
</div>

<div class="project" id="buddyspotlight">
  <h2 class="project_name">Buddy Spotlight</h2>
  <p><small class="project_updated_at">Updated: 2005 May 15</small>
  <small class="project_version">Version: 0.1</small></p>
  <div class="project_description">
    Buddy Spotlight integrates iChat and Spotlight allowing you to search for online iChat buddies with Spotlight. Simply run Buddy Spotlight and when iChat is online, your buddies will show up in Spotlight. Selecting a buddy in Spotlight will immediately start a new conversation. That means you can start conversations with them from the Spotlight menu, perform queries on which buddies are online or integrate iChat into your workflow!
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/BuddySpotlight-0.1.dmg">BuddySpotlight-0.1.dmg</a></li>
    </ul>
  </div>
</div>

<div class="project" id="kol">
  <h2 class="project_name">Kingdom of Loathing Grease Monkey</h2>
  <p><small class="project_updated_at">Updated: 2005 May 13</small>
  <small class="project_version">Version: N/A</small></p>
  <div class="project_description">
        <strong>Current Features</strong>
        <ul> <li>Adds keyboard navigation to the adventure and combat pages</li> </ul>
        <strong>Planned Features</strong>
        <ul> <li>Add Keyboard Shortcut &#8220;panel&#8221; </li> <li>Display more information (e.g. effects of current moon phases, etc.)</li> </ul>
        <table>
          <tr>
            <td><strong>Action</strong></td>
            <td><strong>Key</strong>[1]</td>
          </tr>
          <tr>
            <td>Adventure Again</td>
            <td>a</td>
          </tr>
          <tr>
            <td>Go Back to &#8230;</td>
            <td>b</td>
          </tr>
          <tr>
            <td>Attack with &#8230;</td>
            <td>a</td>
          </tr>
          <tr>
            <td>Use Item</td>
            <td>i</td>
          </tr>
          <tr>
            <td>Use Skill</td>
            <td>s</td>
          </tr>
          <tr>
            <td>Run Away</td>
            <td>r</td>
          </tr>
        </table>
        <p id="fn1"><sup>1</sup> All commands are Access Keys, so you will need to press <span class="caps">ALT</span>+key or Ctrl+key</p>
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/kol.user.js">kol.user.js</a></li>
    </ul>
  </div>
</div>

<div class="project" id="weather-plugin">
  <h2 class="project_name">Quicksilver Weather Plugin</h2>
  <p><small class="project_updated_at">Updated: 2005 November 08</small>
  <small class="project_version">Version: beta2</small></p>
  <div class="project_description">
Plugin for <a href="http://quicksilver.blacktree.com/">Quicksilver</a> provides quick access to current weather conditions (including temperature, wind,visibility and conditions summary) via the <a href="http://www.nws.noaa.gov/data/current_obs/">NOAA</a> XML-based web services. <em>Updated for beta44</em>
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/QSWeatherPlugin-beta2.qspkg">QSWeatherPlugin-beta2.qspkg</a> &#8211; Latest Version</li>
      <li><a href="/downloads/MYWeatherPlugin-0.5.qspkg">MYWeatherPlugin-0.5.qspkg</a> &#8211; Old Version</li>
    </ul>
  </div>
</div>

<div class="project" id="pytego">
  <h2 class="project_name">Pytego</h2>
  <p><small class="project_updated_at">Updated: N/A</small>
  <small class="project_version">Version: 0.2</small></p>
  <div class="project_description">
Pytego is a two-player, cross-platform, networked clone of the classic boardgame &#8220;Stratego&#8221; from Milton Bradley. It is developed using Python, PyGame and SDL. It&#8217;s out-of-date and probably doesn&#8217;t work, but is included here for posterity.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/pytego-0.02.tar.gz">pytego-0.02.tar.gz</a></li>
      <!-- a href="/downloads/pytego.jpg"><img src="/downloads/pytego_sm.jpg" width="103" height="79" border="0"/></a></p-->
    </ul>
  </div>
</div>

<div class="project" id="nethack">
  <h2 class="project_name">NetHack Patch</h2>
  <p><small class="project_updated_at">Updated: N/A</small>
  <small class="project_version">Version: affected file src/botlc.</small></p>
  <div class="project_description">
This patch colors the Hp monitor at the status line with the tty interface. If your Hp is lower than maxhp but more than 2/3 of max, it is shown green. If it is less than that, but more than 1/3 of max, it is yellow. If it&#8217;s less than 1/3 of max, the color is red. And with values less than 1/10 of max, it is highlighted, blinking or whatever your screen shows with the ATR_BLINK attribute.
<p>#define HPMON in include/config.h to activate the patch.</p>
Checked against 3.4.1 ; Bones / save files NOT affected. 
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/hpmon.diff">hpmon.diff</a></li>
    </ul>
  </div>
</div>

<div class="project" id="dierollerapp">
  <h2 class="project_name">DieRollerApp</h2>
  <p><small class="project_updated_at">Updated: N/A </small>
  <small class="project_version">Version: 0.1</small></p>
  <div class="project_description">
DieRollerApp is a KDE application that simulates rolling the standard D&#38;D dice (e.g. d4, d6, d20, etc.). This was mostly an excuse for me to play around with KDE, QT and KDevelop.
  </div>
  <div class="project_links">
    <ul>
      <li><a href="/downloads/dierollerapp-0.1.tar.gz">dierollerapp-0.1.tar.gz</a></li>
<!-- a href="http://www.mrchucho.net/wordpress/wp-content/uploads/2006/12/dierollerapp.png"><img src="http://www.mrchucho.net/wordpress/wp-content/uploads/2006/12/dierollerapp.thumbnail.png" border="0"/></a></p-->
    </ul>
  </div>
</div>

