<ul>
  <li>
  <label class="desc">Title</label>
  <div><%= f.text_field :title %></div>
  </li>
  <li>
  <label class="desc">Published?</label>
  <div><%= f.check_box :published %></div>
  </li>
  <li>
  <label class="desc">Closed?</label>
  <div><%= f.check_box :closed%></div>
  </li>
  <li>
  <label class="desc">Body</label>
  <div><%= f.text_area :body_raw %></div>
  </li>
</ul> 
