<h1>New post</h1>

<%= error_messages_for :post %>

<% form_for(@post) do |f| %>
  <%= render :partial => 'post_form',:object => @post,:locals => {:f => f} %>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
